.slider {
    width: 100%;
    max-width: 1400px;
    height: 790px;
    margin: 50px auto;
    position: relative; /* Necessário para as imagens ficarem presas aqui */
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute; /* Empilha as imagens uma em cima da outra */
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0; /* Esconde todas */
    transition: opacity 2.5s ease; /* Duração da transição entre as fotos */
}

.slide.active{
    opacity: 1; /* Mostra apenas a imagem que tiver a classe active */
}

.slide.news{
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin: 50px;
    position: relative;

}